extlibs/*
android/IUHub/app/src/main/java/be/*
android/IUHub/app/src/main/assets/App/IUHub/*
*.iml
.gradle
android/IUHub/local.properties
android/IUHub/.idea/workspace.xml
android/IUHub/.idea/libraries
.DS_Store
android/IUHub/build
android/IUHub/captures
android/IUHub/app/libs
targetAd/*

# for csaweb
csaweb/csaweb/*.cs
csaweb/csaweb/App/*
csaweb/csaweb/Data/*
targetMc/*
targetKh/*

# for csharp xam solution
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# end csharp xam
# cordova
cordova/
# nwjs
nwjs/

