global
       daemon
       maxconn 10000

defaults
       timeout connect 500s
       timeout client 5000s
       timeout server 1h
       mode http
       option forwardfor
       option http-server-close

frontend www-https
  bind *:WPORT ssl crt Data/KBridge/haproxy/cert.pem
  reqadd X-Forwarded-Proto:\ https
  default_backend web-backend

backend web-backend
  redirect scheme https if !{ ssl_fc }
  server web-1  127.0.0.1:APORT check

